/*
    Theme: Internet of Things
/* Generic */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
*:focus {
  outline: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f4f8;
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.75);
  z-index: 999;
}
.mascot {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

/* Bootstrap Extended */
.row-margin-bottom {
  margin-bottom: 20px;
}
.modal-content {
  border-radius: 0px;
}
.modal-header {
  border-bottom: 1px solid #69BE29;
}
.modal-footer {
  border-top: 1px solid #69BE29;
}
.modal-body {
  background-color: #F6F7FB;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1) inset;
}
label {
  font-weight: 400;
  display: block;
}
.modal {z-index: 1100 !important;}

/* Awesome Checkbox & Radio */
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }
  .checkbox.checkbox-single label {
    height: 17px; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }
  .radio.radio-single label {
    height: 17px; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }
/* Buttons */
.btn {
  position: relative;
  margin: 0 1px;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-shadow: none;
  background-color: #fff;
  color: #374767;

  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.btn i {
  margin-top: 2px;
}
.btn-default {
  color: #333;
  border: 2px solid #aaaaaa;
}
.btn-default:hover,
.btn-default.disabled,
.btn-default[disabled] {
  color: #fff;
  background-color: #aaaaaa;
  border-color: #aaaaaa;
}
.btn-default:active,
.btn-default.active {
  background-color: #aaaaaa;
}
.btn-primary {
  color: #43687d;
  border: 2px solid #43687d;
}
.btn-primary:hover,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #43687d;
  border-color: #43687d;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #43687d;
}
.btn-warning {
  color: #f6a800;
  background: #fff;
  border: 2px solid #f6a800;
}
.btn-warning:hover,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f6a800;
  border-color: #f6a800
}
.btn-warning:active,
.btn-warning.active {
  background-color: #f6a800;
}
.btn-danger {
  color: #e17000;
  background: #fff;
  border: 2px solid #e17000;
}
.btn-danger:hover,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #e17000;
  border-color: #e17000;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #e17000;
}
.btn-success {
  color: #69be29;
  background: #fff;
  border: 2px solid #69be29;
}
.btn-success:hover,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #69be29;
  border-color: #69be29;
}
.btn-success:active,
.btn-success.active {
  background-color: #69be29;
}
.btn-info {
  color: #3cb5e6;
  background: #fff;
  border: 2px solid #3cb5e6;
}
.btn-info:hover,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #3cb5e6;
  border-color: #3cb5e6;
}
.btn-info:active,
.btn-info.active {
  background-color: #3cb5e6;
}
.nav > li > a:hover, 
.nav > li > a:focus {
  background-color: transparent;
}
.dropdown-menu {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e1e6ef;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
}
.dropdown-menu li a:hover {
  background-color: #f2f4f8;
}
.dropdown-menu li.divider {
  background-color: #f2f4f8;
}

/* Material Floating Labels */
.label-floating.form-overide {
    display: flex;
    height: 55px;
}
.label-floating.form-overide .control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}
.label-floating.form-overide.focused .control-label {
    opacity: 1;
    transform: scale(0.85);
}
.label-floating.form-overide .form-control {
    align-self: flex-end;
}

/* Header */
header.navbar {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0;
  z-index: 2;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}
header .navbar-brand {
  height: 60px;
  padding: 10px 30px;
}
header .navbar-brand > img {
  height: 40px;
}
header .navbar-nav.navbar-right > li > a {
  color: #666;
  padding: 0 10px;
  line-height: 60px;
  position: relative;
}
header .navbar-nav.navbar-right > li > a:hover {
  color: #69be28;
}
header .navbar-nav.navbar-right > li > a > i {
  border: 1px solid #666;
    padding: 8px 0;
    width: 32px;
    text-align: center;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
header .navbar-nav.navbar-right > li > a:hover > i {
  border: 1px solid #69be28;
}
header .navbar-nav.navbar-right li.dropdown-user a img {
  height: 40px;
    border: 1px solid #666;
    margin-top: -4px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
header .navbar-nav.navbar-right li.dropdown-user a:hover img {
  border: 1px solid #69be28;
}

.main-navigation.navbar-nav > li > a {
  color: #44697d;
  font-weight: 600;
  line-height: 30px;
}
.main-navigation.navbar-nav > li > a:hover,
.main-navigation.navbar-nav > li > a.current {
  color: #69be28; 
  box-shadow: 0px 2px #69be28;
}

#cluster-config.current{
  color: #69be28;
}
#cluster-config.current > i{
  border: 1px solid #69be28;
}

/* Sidebar & Wrapper */
header.navbar-fixed-top + .wrapper {
    padding-top: 60px;
}
.content {
  position: relative;
  padding: 10px 0;
}
/* Boxes */
.box {
  border: 1px solid #C2CADA;
  margin-bottom: 15px;
  background-color: #fff;

  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.box .box-head {
  background-color: #fcfcfd;
  line-height: 40px;
  min-height: 40px;
  padding: 0 15px;
  border-bottom: 1px solid #C2CADA;

}
.box .box-head h4 {
  float: left;
  margin: 0;
  padding: 10px 0px;
  color: #666;
  font-weight: 600;
  letter-spacing: 2px;
}
.box .box-head .box-controls {
  float: right;
}
.box .box-head .box-controls a {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 30px;
  color: #666;
}
.box .box-head .box-controls a:hover {
  color: #333;
}

.box-head .modal-actions {
  float: left;
  margin-left: 10px;
}
.box-head .box-subhead {
  display: none;
  clear: both;
}
.box .box-body {
    padding: 15px;
}
.box .box-body:before,
.box .box-body:after {
    content: " ";
    display: table;
}
.box .box-body:after {
    clear: both;
}
.box .box-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.box .box-list li {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px #C2CADA solid;
}
.graph-bg {
    background-image: linear-gradient(to right, rgb(0, 0, 0) -10px, transparent 1px), linear-gradient(rgb(0, 0, 0) -10px, transparent 1px);
    background-size: 10px 10px;
    height: 500px;
}
.table-selected-device tr th:last-child,
.table-selected-device tr td:last-child {
  text-align: center;
}
/* Graph Area */
.graph-bg i.fa {
  position: absolute;
  cursor: pointer;
}

/* Topology Editor */
.topology-control i {
  font-size: 18px;
}
.topology-control a.save i {color: #3db5e6;}
.topology-control a.play i {color: #52B302;}
.topology-control a.remove i {color: #e17000;}
.topology-control a.config i {color: #f6a800;}

.node-accordion.panel-group .panel {
  border-radius: 0px;
}
.node-accordion.panel-group .panel + .panel {
  margin-top: 0px;
}
.node-accordion .panel-default > .panel-heading {
  padding: 0;
}
.node-accordion .panel-default > .panel-heading > a {
  display: block;
  padding: 7px 14px;
  color: #44697d;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;

  background-color: #fcfcfd;
}
.node-accordion .panel-default > .panel-heading > a:hover,
.node-accordion .panel-default > .panel-heading > a:focus {
  text-decoration: none;
}

.topology-icon {
  max-width: 72px;
  margin-right: 15px;
}
.topology-icon-inverse {
  width: 75px;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 2px solid;
  border-radius: 15px;
}
.topology-icon-inverse.datasink {
  border-color: #f6a800;
}
.topology-icon-inverse.processor {
  border-color: #e17000;
}
.topology-icon-inverse.source {
  border-color: #3db5e6;
}
h4.section-header {
  border-bottom: 2px solid #69BE29;
  padding-bottom: 7px;
  text-align: right;
}
/* Select2 */
.select2-container {
  width: 100% !important;
  z-index: 1200;
}
.select2-container .select2-selection--single {
  height: 34px;
  border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0px;
}
/**
 * Bootstrap Notification
 */
.notifications {
  position: fixed;
  z-index: 9999;
}

/* Positioning */
.notifications.top-right {
  right: 10px;
  top: 25px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  margin: 5px 0px;
}

.error-notification {
  position: absolute;
  top: 0;
  right: 5px;
}

.displayNone {
  display: none;
}

.row-margin-bottom {
  margin-bottom: 20px;
}

/* Bootsrap Extended */
.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td {
  border:none;
}

.backgrid .ascending .sort-caret {
  vertical-align: baseline;
  border-top: 0;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
  border-left: 4px solid transparent;
}

.backgrid .descending .sort-caret {
  vertical-align: super;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}

select {
  padding: 3px 6px;
  border: 2px #53c749 solid;
  background-color: #fff;
}

a:hover, a:focus {
  text-decoration: none;
}

fieldset {
  border: 1px solid #CCC;
  margin-bottom: 20px;
}

legend {
  font-size: 13px;
  padding: 0 7px;
}

[data-error]{
  color: red;
}
.backgrid-filter.form-search {
    margin: 0;
}
.expanded {
  overflow-y:scroll;
  border: 0;
  z-index: 3000 !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0px;
  background: rgba(0, 0, 0, 0.2);
}
.expanded-padding {
  background: rgba(0, 0, 0, 0.7);
  padding:50px;
}
 .expanded .panel-head,
 .expanded .panel-body {
    background-color: white;
 }
@font-face {
  font-family: 'icomoon';
  src:url('../libs/other/icomoon/icomoon.eot?y4oj6l');
  src:url('../libs/other/icomoon/icomoon.eot?#iefixy4oj6l') format('embedded-opentype'),
    url('../libs/other/icomoon/icomoon.ttf?y4oj6l') format('truetype'),
    url('../libs/other/icomoon/icomoon.woff?y4oj6l') format('woff'),
    url('../libs/other/icomoon/icomoon.svg?y4oj6l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tap2:before {
  content: "\e600";
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}*/

path.link {
  fill: none;
  /*stroke: #000;*/
  stroke: #ccc;
  stroke-width: 4px;
  cursor: default;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  /*stroke: #000 !important;*/
  stroke-width: 1px;
}

text {
  pointer-events: none;
  font-weight: bold;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
}

.modal-tip {
  z-index: 9999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip ul {padding:0; margin:0; list-style: none;}
.d3-tip ul li {font-size: 12px; line-height: 20px;}
.table-backgrid>thead>tr>th>a {
  color:#707980;
}
div[data-id=r_tableList] .btn {
  margin-right: 2px;
}

#dual-list-box-Fields{
    margin: 15px;
}


.field1{
    margin-bottom: 5px;
}
.operation{
    margin-bottom: 5px;
}
.field2{
    margin-bottom: 5px;
}

#deviceModalContent{
    margin: 15px;
}

.control-group {
    margin-bottom: 10px;
}

.expressionDef {
    margin: 15px;
}

.processorList {
    padding: 15px;
}

fieldset{
    border:none;
}

.ruleset{
    margin-right: 15px;
    margin-left: 15px;
}

#processorTitle input{
    background-color: transparent;
    color: #000000;
    padding: 5px;
    margin-top: 10px;
}
.processorPanel{
    margin-top:15px;
}
#result{
    width:30%;
    height: 32px;
    border-radius: 0px;
}

#buttons i{
    cursor: pointer;
}

.dataSource{
    margin: 5px;
    border: #E6E6E6 solid 1px;
    padding: 15px;
    padding-top: 0px;
}

.deviceModalTitle{
    margin-left: 5px;
    margin-top: 22px;
    color: #0A0603;
    font-weight: 500;
}

.deviceModalTitle span{
    margin: 8px;
}

.deviceModalTitle input{
    background-color: transparent;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 0px

}

.availableDevices{
    padding: 5px;
    padding-top: 10px;
}

.selectedDevices{
    margin: 5px;
    margin-bottom: -5px;
}
.selectedDevices .list-group{
    margin-bottom: 10px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/*Modal - ruleset*/
.fields{
    margin-left: 20px;
}
.saveStream{
    font-size: 15px;
    color: white;
    font-weight: 500;
    display: none;
}

}
.devCSS {
    color: #288CFB;
    position: relative;
    top: 15px;
    left: 11px;
    font-size: 62px;
}
.devLabel{
    margin-top: 17px;
    margin-left: 21px;
}
.parserLabel {
    margin-top: 14px;
    margin-left: 19px;
}
.ruleSetCSS {
    color: #d85120;
    position: relative;
    top: 12px;
    left: 15px;
    font-size: 55px;
}

.procLabel{
    margin-left: 6px;
    margin-top: 8px;
}

.dataBaseCSS {
    color: #d85120;
    position: relative;
    top: 11px;
    left: 12px;
    font-size: 50px;
}

.dbLabel{
    margin: 13px;
    margin-left: 17px;
}

#queryEditor{
    margin: 10px;
    border: #D5D5D5 1px solid;
}

.expression li{
    display: inline;
}

.leftDiv {}

.rightDiv {}

.table-center td{
text-align: center;
}

.table-center th{
text-align: center;
}

svg {
    background-color: transparent;
}

#ruleSetModal .tab-content {
    margin: 0px;
    border-top: none;
    min-height: 300px;
}

.popover-content {
    padding: 9px 14px;
    color: black;
    background-color: whitesmoke;
}

.overlayLabel {
    background-color: beige;
    padding: 0px 5px;
    border: black solid 1px;
}

.table{
    background-color: white;
    margin-bottom: 0px;
}
.btn-logo {
    background-color: white;
    padding: 20px;
    border: 4px #92a4b2 solid;
    border-radius: 20px;

     -webkit-transition: border-color .75s;
    -moz-transition: border-color .75s;
    transition: border-color .75s;
}
.btn-logo:hover {
    cursor: pointer;
    border: 4px #37444e solid;
}
.modal-body .panel-title > a{
    color: #333;
}

._jsPlumb_overlay{
      padding: 0px 10px;
    background-color: whitesmoke;
    border: black solid 1px;
}

/*Topology Graph Generator*/
.conceptG text{
    fill: grey;
    pointer-events: none;
}

marker{
    fill: grey;
}

g.conceptG circle{
    stroke-width: 2px;
}

g.conceptG rect{
    fill: none;
    stroke-width: 2px;
}

g.conceptG:hover rect{
    fill: none;
}

g.selected rect{
    fill: none;
}
g.selected:hover rect{
    fill: none;
}

path.link {
    fill: none;
    stroke: grey;
    stroke-width: 2px;
    cursor: default;
}

path.link:hover{
    stroke: #67c2ef;
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: #0e4e9e;
}
rect.datasink {
  stroke: #f6a800;
}
rect.processor {
  stroke: #e17000;
}
rect.source {
  stroke: #3db5e6;
}
circle.datasink {
  fill: #f6a800;
}
circle.processor {
  fill: #e17000;
}
circle.source {
  fill: #3db5e6;
}
span#topologyName {
  cursor: pointer;
}
svg > foreignObject > p {
  text-align: center; 
  overflow: overlay;
  position: relative;
}
option[value=""][disabled] {
  display: none;
}
#infoHelp + .popover > .popover-content p {
    font-size: 12px;
    margin-bottom: 5px;
}
.formulaError {
  color: #DE0000;
}
.formulaField {
  color: green;
}
.formulaComparison{
  color: #0270D4;
}
.formulaLogical{
  color: #D8B700;
}
.formulaPreviewDiv {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  padding: 6px 12px;
  min-height: 100px;
}
.sourceModalConfig{
  max-height: 300px;
  overflow-y: auto;
}
.modal-title > i > a {
  margin-left: 5px;
}
.form-inline.editableform {
  margin-top: -6px;
}
.editable > i {
  margin-left: 5px;
}
a#editableTitle {
    color: black;
}
.inline-element{
  list-style: none;
  padding-left: 0px;
}
.inline-element li{
  display: inline-block;
  margin-right: 15px;
}

.box .box-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box .box-list li {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px #C2CADA solid;
}

.box .box-list i {
  float: right;
}
.config-row {
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.editConfig i,
.deleteConfig i {
  margin-top: 5px;
  margin-right: 8px;
  color: #666;
}
.editConfig i:hover,
.deleteConfig i:hover {
  color: #333;
}

/* Accordion CSS */
.panel-default {border-radius: 0px;}
.panel-default > .panel-heading {border-radius: 0px;}
.panel-default > .panel-heading a {color: #449409;}
.panel-default > .panel-heading + .panel-collapse > .panel-body {}
.panel-group .panel { border-radius: 0px;}
.panel.panel-default.error { border-color: #DE0000;}

.ds-form .control-label,
.ds-form .sourceFields div,
.ds-form .ds-config-fields div {  
  width: 100%;
  text-align: left;
  padding-right: 0px;
}

.ds-config-device {
  width: 75%;
}

.ds-form .ds-config-fields {
  margin-left: 15px;
}

.ds-form .control-label {
  margin-bottom: 5px;
}

.form-control {
  border-radius: 0px;
}
.form-control:focus {
  border-color: #69BE29;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(105, 190, 41);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(105, 190, 41);
}
.divider {
  position: relative;
  color: #C2CADA;
  display: inline-block;
  border-right: 1px solid;
  height: 20px;
  top: 4px;
}