/*
    Theme: Internet of Things


@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);
*/
/* Generic */
body {
    font-family: 'PT Sans', sans-serif;
    background-color: #f2f4f8;
}

/* Bootstrap Extended */
.row-margin-bottom {
    margin-bottom: 20px;
}
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
  outline:none;
}

/* Header */
header.navbar {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #e1e6ef;
    margin-bottom: 0;
    z-index: 2;
}
header .navbar-brand {
    height: 60px;
    padding: 10px 30px;
    background: #20a8d8;

    -webkit-box-shadow: 0px 1px 0px #1985ac;
    -moz-box-shadow: 0px 1px 0px #1985ac;
    box-shadow: 0px 1px 0px #1985ac;
}
header .navbar-brand > img {
    height: 40px;
}
header .navbar-nav > li > a {
    padding: 0 10px;
    line-height: 60px;
    position: relative;
}
header .navbar-nav > li > a > i {
    border: 1px solid #c0cadd;
    padding: 8px 0;
    width: 32px;
    text-align: center;
    color: #c0cadd;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
header .navbar-nav li.dropdown-user a img {
    height: 40px;
    border: 1px solid #c0cadd;
    margin-top: -4px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.navbar-fixed-top{
    background-color: white;
}
/* Sidebar & Wrapper */
header.navbar-fixed-top + .wrapper {
    padding-top: 60px;
}

.dropdown-menu > li > a {
    color: #707980;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #707980;
    background-color: #eee
}

.nav-tabs > li > a {
    background-color: #37444E;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 8px 16px;
}
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
    background-color: #92a4b2;
    border-color: #92a4b2;  
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-top: 2px #37444e solid;
    font-weight: 400;
}
.tab-content {
    padding: 20px;
    background-color: #fff;
    border: 1px #D5D5D5 solid;
    border-top: none;
}

/* Buttons, Badges, Colors */
.btn {
    position: relative;
    margin: 0 1px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none;
    color: #374767;
}
.btn:focus {
    outline: none;
}
.btn i {
  margin-top: 2px;
}
.btn-default {
  color: #333;
  border: 1px solid #ccc;
}
.btn-default:hover,
.btn-default.disabled,
.btn-default[disabled] {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active {
  background-color: #bac4da;
  border-color: #bac4da;
}
.btn-primary {
  color: white;
  background: #20a8d8;
  border: 1px solid #20a8d8;
}
.btn-primary:hover,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #1985ac;
  border-color: #1985ac;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #187fa3;
  border-color: #187fa3;
}
.btn-default.active:after {
  content: "\f0d8";
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  bottom: -22px;
  left: 5px;
  color: #F2F4F8 ;
}
.btn-warning {
  color: white;
  background: #fabb3d;
  border: 1px solid #fabb3d;
}
.btn-warning:hover,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f9aa0b;
  border-color: #f9aa0b;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #f4a406;
  border-color: #f4a406;
}
.btn-danger {
  color: white;
  background: #ff5454;
  border: 1px solid #ff5454;
}
.btn-danger:hover,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #ff2121;
  border-color: #ff2121;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #ff1717;
  border-color: #ff1717;
}
.btn-success {
  color: white;
  background: #79c447;
  border: 1px solid #79c447;
}
.btn-success:hover,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #61a434;
  border-color: #61a434;
}
.btn-success:active,
.btn-success.active {
  background-color: #5c9c32;
  border-color: #5c9c32;
}
.btn-info {
  color: white;
  background: #67c2ef;
  border: 1px solid #67c2ef;
}
.btn-info:hover,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #39afea;
  border-color: #39afea;
}
.btn-info:active,
.btn-info.active {
  background-color: #30ace9;
  border-color: #30ace9;
}
.btn-inverse {
  color: white;
  background: #444444;
  border: 1px solid #444444;
}
.btn-inverse:hover,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #2b2b2b;
  border-color: #2b2b2b;
  color: white;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #252525;
  border-color: #252525;
}

/* Header */
.navbar-main {
    margin-left: 15px;
}
.navbar-main li:last-child {
    border-right: 1px solid #273038;
}
.btn-menu {
    position: relative;
    padding: 10px 20px;
    margin-left: -15px;
    margin-right: 15px;
    color: #92a4b2 !important;
    border-right: 1px solid #273038;
    font-size: 16px;
    line-height: 30px;
}
.btn-menu:hover {
    color: #fff !important;
}
.toolbar > li {
    border-left: 1px solid #273038;
}
.toolbar > li > a {
    font-size: 16px;
    color: #92a4b2;
}
.toolbar > li > a:hover, 
.toolbar > li > a:focus {
    background-color: transparent;
    color: #fff;
}
a.user {
    padding: 10px 10px !important;
}
a.user:hover, a.user:focus {
    background-color: transparent !important;
}
a.user img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.dropdown-menu.userinfo {
    padding: 8px 15px;
    min-width: 200px;
}
.dropdown-menu.userinfo:before {
    position: absolute;
    top: -8px;
    right: 15px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    content: ''
}
.dropdown-menu.userinfo li {
    margin: 0 -15px
}
.dropdown-menu.userinfo li.divider {
    height: 1px;
    margin: 5px -15px;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu.userinfo li a {
    padding: 5px 15px;
    line-height: 1.5;
}
.dropdown-menu.userinfo li a i.fa {
    margin-top: 3px;
}

h1.page-title {
    margin-top: 0;
    padding: 0 15px;
    line-height: 34px;
    font-weight: 300;
    font-size: 28px;
    color: #333;
}

/* Sidebar */
.sidebar {
    z-index: 1;
    position: fixed;
    left: 0;
    width: 60px;
    height: 100%;
    background: #384042;
}
.sidebar ul.nav.nav-sidebar li a {
    color: #677679;
}
.sidebar ul.nav.nav-sidebar li a:hover,
.sidebar ul.nav.nav-sidebar li a:focus,
.sidebar ul.nav.nav-sidebar li a.active {
    background-color: #2c3334;
    color: #fff;
}
.sidebar ul.nav.nav-sidebar li a i {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
}
.sidebar ul.nav.nav-sidebar li a span {
    display: none;
    position: absolute;
    top: 0px;
    left: 60px;
    padding: 0 15px;
    background-color: #2c3334;
    min-width: 140px;
    line-height: 43px;
    text-align: center;
}
.sidebar ul.nav.nav-sidebar li a:hover span {
    display: block;
}

.wrapper {
    padding-left: 60px;
}

.content {
    position: relative;
    padding: 10px 0;
}
/* Boxes */
.box {
    border: 1px solid #e1e6ef;
    margin-bottom: 15px;
    background-color: #fff;

    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.box .box-head {
    line-height: 40px;
    min-height: 40px;
    padding: 0 15px;
    background: #fcfcfc;
    border-bottom: 1px #e1e6ef solid;
}
.box .box-head h4 {
    float: left;
    margin: 0;
    padding: 10px 0px;
    color: #374767;
    letter-spacing: 1px;
}
.box .box-head .box-controls {
    float: right;
}
.box .box-head .box-controls a {
    display: inline-block;
    color: #C0CADD;
    text-align: center;
    line-height: 40px;
    width: 20px;
}
.box .box-head .box-controls a:hover {
    color: #F2F4F8;
}
.box-head .modal-actions {
  float: left;
  margin-left: 10px;
}
.box-head .box-subhead {
  display: none;
  clear: both;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #F2F4F8;
}

.quick-button {
    border: 1px solid #e1e6ef;
    background: white;
    padding: 6px 30px;
    text-align: center;
    cursor: auto;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: 5px;
}
.quick-button.active{
  background: #f2f4f8;
  color: #c0cadd;
}
.box .box-body {
    padding: 15px;
}
.box .box-body:before,
.box .box-body:after {
    content: " ";
    display: table;
}
.box .box-body:after {
    clear: both;
}

/* Page Specific - Data Flow */
.click-tutor {
    position: absolute;
    background: transparent;
    color: #333;
    left: 5px;
    bottom: -30px;
    font-weight: 700;
    font-size: 1.5em;
}

@-webkit-keyframes finger-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
     -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes finger-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
     -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.finger-up {
    -webkit-animation-name: finger-up;
    animation-name: finger-up;
}

.graph-bg {
    background-image: linear-gradient(to right, rgb(0, 0, 0) -10px, transparent 1px), linear-gradient(rgb(0, 0, 0) -10px, transparent 1px);
    background-size: 10px 10px;
    height: 500px;
}

/* Panel */
.panel {
    margin-bottom: 20px;
    position: relative;
    padding: 0;
    border: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12),0 -1px 0 0 rgba(0,0,0,.03)
}
.panel .panel-head {
    padding: 0 20px;
    border-top: 2px #37444E solid;
    border-radius: 4px 4px 0 0;
}
.panel .panel-head:before,
.panel .panel-head:after {
    display: table;
    content: " ";
}
.panel .panel-head:after {
    clear: both;
}
.panel .panel-head h5 {
    float: left;
    color: #37444E;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 28px;
}
.panel .panel-head button {
    margin-top: 10px;
}
.panel .panel-head .panel-control {
    float: right;
}
.panel .panel-head .panel-control button {
    border: none;
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #37444E;
    opacity: 0.5;
}
.panel .panel-head .panel-control button:hover {
    opacity: 1;
}
.panel .panel-head .panel-control button:focus {
    outline: none;
}

/**
 * Bootstrap Notification
 */
.notifications {
  position: fixed;
  z-index: 9999;
}

/* Positioning */
.notifications.top-right {
  right: 10px;
  top: 25px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  margin: 5px 0px;
}

.error-notification {
  position: absolute;
  top: 0;
  right: 5px;
}

.displayNone {
  display: none;
}

.row-margin-bottom {
  margin-bottom: 20px;
}

/* Bootsrap Extended */
.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td {
  border:none;
}

.backgrid .ascending .sort-caret {
  vertical-align: baseline;
  border-top: 0;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
  border-left: 4px solid transparent;
}

.backgrid .descending .sort-caret {
  vertical-align: super;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}

select {
  padding: 3px 6px;
  border: 2px #53c749 solid;
  background-color: #fff;
}

a:hover, a:focus {
  text-decoration: none;
}

fieldset {
  border: 1px solid #CCC;
  margin-bottom: 20px;
}

legend {
  font-size: 13px;
  padding: 0 7px;
}

[data-error]{
  color: red;
}
.backgrid-filter.form-search {
    margin: 0;
}
.expanded {
  overflow-y:scroll;
  border: 0;
  z-index: 3000 !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0px;
  background: rgba(0, 0, 0, 0.2);
}
.expanded-padding {
  background: rgba(0, 0, 0, 0.7);
  padding:50px;
}
 .expanded .panel-head,
 .expanded .panel-body {
    background-color: white;
 }
@font-face {
  font-family: 'icomoon';
  src:url('../libs/other/icomoon/icomoon.eot?y4oj6l');
  src:url('../libs/other/icomoon/icomoon.eot?#iefixy4oj6l') format('embedded-opentype'),
    url('../libs/other/icomoon/icomoon.ttf?y4oj6l') format('truetype'),
    url('../libs/other/icomoon/icomoon.woff?y4oj6l') format('woff'),
    url('../libs/other/icomoon/icomoon.svg?y4oj6l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tap2:before {
  content: "\e600";
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}*/

path.link {
  fill: none;
  /*stroke: #000;*/
  stroke: #ccc;
  stroke-width: 4px;
  cursor: default;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  /*stroke: #000 !important;*/
  stroke-width: 1px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
  font-weight: bold;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
}

.modal-tip {
  z-index: 9999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip ul {padding:0; margin:0; list-style: none;}
.d3-tip ul li {font-size: 12px; line-height: 20px;}
.table-backgrid>thead>tr>th>a {
  color:#707980;
}
div[data-id=r_tableList] .btn {
  margin-right: 2px;
}


/*---------------IOTAS UI------------------*/
.select2-container--default .select2-selection--multiple {
    width: 168px;
}

.navbar {
    position: relative;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.tab-content {
    margin: 20px;
    background-color: #fff;
    border: 1px #D5D5D5 solid;
}

#dual-list-box-Fields{
    margin: 15px;
}


.field1{
    margin-bottom: 5px;
}
.operation{
    margin-bottom: 5px;
}
.field2{
    margin-bottom: 5px;
}

.select2-container--default .select2-selection--single {
    height: 28px;
    border: none;
    background-color: #E1E5D0;
    color: white;
}

#deviceModalContent{
    margin: 15px;
}

.control-group {
    margin-bottom: 10px;
}

.expressionDef {
    margin: 15px;
}

.processorList {
    padding: 15px;
}

fieldset{
    border:none;
}

.ruleset{
    margin-right: 15px;
    margin-left: 15px;
}

#processorTitle input{
    background-color: transparent;
    color: #000000;
    padding: 5px;
    margin-top: 10px;
}
.processorPanel{
    margin-top:15px;
}
#result{
    width:30%;
    height: 32px;
    border-radius: 0px;
}

#buttons i{
    cursor: pointer;
}

.dataSource{
    margin: 5px;
    border: #E6E6E6 solid 1px;
    padding: 15px;
    padding-top: 0px;
}

.deviceModalTitle{
    margin-left: 5px;
    margin-top: 22px;
    color: #0A0603;
    font-weight: 500;
}

.deviceModalTitle span{
    margin: 8px;
}

.deviceModalTitle input{
    background-color: transparent;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 0px

}

.availableDevices{
    padding: 5px;
    padding-top: 10px;
}

.selectedDevices{
    margin: 5px;
    margin-bottom: -5px;
}
.selectedDevices .list-group{
    margin-bottom: 10px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/*.modal-body .form-horizontal .control-label {
    width:145px;
}
.modal-body .form-horizontal .controls{
    margin-left:160px;
}

svg {
    background-color: transparent;
}

.wizard-grp .btn {
    margin-left: 10px;
    position: relative;
}

.wizard-grp .btn:last-child {
    margin-right: 0px;
}
.modal-content {
    border-radius: 0px;
}
#modalContent input{
    border-radius: 0px;
}
#modalContent select{
    border-radius: 0px;
}
#modalContent label{
    margin: 5px;
    font-size: 15px;
}
#modalContent label{
    color: black;
    float: left;
}


.select2-container--default .select2-selection--multiple {
    width: 168px;
}

.fa-play-circle{
    padding-left: 5px;
}
.deviceCSS {
    color: #288CFB;
    position: relative;
    top: 16px;
    left: 11px;
}

.ruleSetCSS {
    color: #FF7F00;
    position: relative;
    top: 7px;
    left: 11px;
}

.dataBaseCSS {
    color: #EC4957;
    position: relative;
    top: 8px;
    left: 12px;
    font-size: 55px;
}
/*Modal - ruleset*/
.fields{
    margin-left: 20px;
}

textarea.form-control {
    color:#2685EE;
    border-radius: 0px;
}
.saveStream{
    font-size: 15px;
    color: white;
    font-weight: 500;
    display: none;
}

}
.devCSS {
    color: #288CFB;
    position: relative;
    top: 15px;
    left: 11px;
    font-size: 62px;
}
.devLabel{
    margin-top: 17px;
    margin-left: 21px;
}
.parserLabel {
    margin-top: 14px;
    margin-left: 19px;
}
.ruleSetCSS {
    color: #d85120;
    position: relative;
    top: 12px;
    left: 15px;
    font-size: 55px;
}

.procLabel{
    margin-left: 6px;
    margin-top: 8px;
}

.dataBaseCSS {
    color: #d85120;
    position: relative;
    top: 11px;
    left: 12px;
    font-size: 50px;
}

.dbLabel{
    margin: 13px;
    margin-left: 17px;
}

#queryEditor{
    margin: 10px;
    border: #D5D5D5 1px solid;
}

.expression li{
    display: inline;
}

.leftDiv {}

.rightDiv {}

.table-center td{
text-align: center;
}

.table-center th{
text-align: center;
}

svg {
    background-color: transparent;
}

#ruleSetModal .tab-content {
    margin: 0px;
    border-top: none;
    min-height: 300px;
}

.popover-content {
    padding: 9px 14px;
    color: black;
    background-color: whitesmoke;
}

.overlayLabel {
    background-color: beige;
    padding: 0px 5px;
    border: black solid 1px;
}

.table{
    background-color: white;
    margin-bottom: 0px;
}
.btn-logo {
    background-color: white;
    padding: 20px;
    border: 4px #92a4b2 solid;
    border-radius: 20px;

     -webkit-transition: border-color .75s;
    -moz-transition: border-color .75s;
    transition: border-color .75s;
}
.btn-logo:hover {
    cursor: pointer;
    border: 4px #37444e solid;
}
.modal-body .panel-title > a{
    color: #707980;
}

._jsPlumb_overlay{
      padding: 0px 10px;
    background-color: whitesmoke;
    border: black solid 1px;
}
/*.topologyNode {
  left: 0;
  top: 0;
}*/
/*Topology Graph Generator*/
.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    fill: #20a8d8;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: #1985ac;
}

g.selected circle{
    fill: #0e4e9e;
}
g.selected:hover circle{
    fill: #0e4e9e;
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 4px;
    cursor: default;
}

path.link:hover{
    stroke: #67c2ef;
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: #0e4e9e;
}
svg > foreignObject > p {
  text-align: center; 
  overflow: overlay;
  position: relative;
}
option[value=""][disabled] {
  display: none;
}
#infoHelp + .popover > .popover-content p {
    font-size: 12px;
    margin-bottom: 5px;
}