<div class="col-md-12">
    <div class="control-tab">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a id="cluster-config" href="#config" data-toggle="tab"><i class="fa fa-gear"></i> Configuration</a></li>
            <li><a id="custom-processor" href="#custom" data-toggle="tab"><i class="fa fa-th"></i> Custom Processor</a></li>
            <li><a id="tags" href="#hTags" data-toggle="tab"><i class="fa fa-tags"></i> Tags</a></li>
            <li><a id="upload-files" href="#files" data-toggle="tab"><i class="fa fa-file"></i> Files</a></li>
        </ul>
        <div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="config"></div>
                <div role="tabpanel" class="tab-pane" id="custom"></div>
                <div role="tabpanel" class="tab-pane" id="hTags"></div>
                <div role="tabpanel" class="tab-pane" id="files"></div>
            </div>
        </div>
    </div>
</div>