<div class="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <!-- <h1 class="page-title">Dashboard</h1> -->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel animated"><!--fadeInUp class to animate-->
                <div class="panel-head">
                    <h5>Topology Graph</h5>
                    <div class="panel-control">
                        <!-- <button><i class="fa fa-gear"></i></button> -->
                        <button class="minimize"><i class="fa fa-minus"></i></button>
                        <button class="expand-link"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="dagGraph"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="panel animated"><fadeInUp class to animate>
                <div class="panel-head">
                    <h5>Topology Metrics</h5>
                    <div class="panel-control">
                        <<button><i class="fa fa-gear"></i></button>>
                        <button class="minimize"><i class="fa fa-minus"></i></button>
                        <button class="expand-link"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <iframe src="backbone-d3/examples/chMultiLine.html" width="100%" height="500" style="border:none;"></iframe>
                </div>
            </div>
        </div>
    </div> -->
</div>