<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box animated"><!--fadeInUp class to animate-->
                <div class="box-head">
                    <h4>Topology Graph</h4>
                    <!-- <div class="panel-control">
                        <button><i class="fa fa-gear"></i></button>
                        <button class="minimize"><i class="fa fa-minus"></i></button>
                        <button class="expand-link"><i class="fa fa-expand"></i></button>
                    </div> -->
                </div>
                <div class="box-body">
                    <div id="dagGraph"></div>
                </div>
            </div>
        </div>
    </div>
</div>