<div>
    <a href="#" class="navbar-brand"><img src="images/logo.png" /></a>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">
        <li><a id="cluster-config" href="#!/configuration"><i class="fa fa-wrench"></i></a></li>
        <!-- <li class="dropdown dropdown-user">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-wrench"></i> Settings</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-shield"></i> Change Password</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0);"><i class="fa fa-power-off"></i> Logout</a></li>    
            </ul>
        </li> -->
    </ul>
    <ul class="nav navbar-nav main-navigation">
        <li id="tab3">
            <a href="#!/parser-registry">Parser Registry</a>
        </li>
        <li id="tab2">
            <a href="#!/device-catalog">Device Catalog</a>
        </li>
        <li id="tab4">
            <a href="#!/topology">Topology Listing</a>
        </li>
    </ul>
</div>