<div>
    <a href="#" class="navbar-brand nav-link"><img src="images/logo.png" /></a>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">
        <li class="dropdown dropdown-user" id="tab0">
            <a href="#!/control-panel" class="nav-link"><i class="fa fa-wrench"></i></a>
        </li>
    </ul>
    <ul class="nav navbar-nav main-navigation">
        <li id="tab3">
            <a href="#!/parser-registry" class="nav-link">Parser Registry</a>
        </li>
        <li id="tab2">
            <a href="#!/device-profiles" class="nav-link">Device Profiles</a>
        </li>
        <li id="tab4">
            <a href="#!/topology" class="nav-link">Topology Listing</a>
        </li>
    </ul>
</div>