<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
	        <a href="javascript:void(0)" class="pull-left btn-menu" id="menu-toggle"><i class="fa fa-bars"></i></a>
	    	<a href="#" class="pull-left"><img src="images/logo.png"></a>
	        <ul class="nav navbar-nav navbar-right pull-right toolbar">
	            <li><a href="#!/configuration"><i class="fa fa-cog"></i></a></li>
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="images/login-pic.png"></a>
	                <ul class="dropdown-menu userinfo animated bounceIn">
	                    <li><a href="javascript:void(0)">Edit Profile <i class="fa fa-pencil pull-right"></i></a></li>
	                    <li><a href="javascript:void(0)">View Account <i class="fa fa-user pull-right"></i></a></li>
	                    <li><a href="javascript:void(0)">Change Password <i class="fa fa-lock pull-right"></i></a></li>
	                    <li class="divider"></li>
	                    <li><a href="javascript:void(0)">Sign Out <i class="fa fa-power-off pull-right"></i></a></li>
	                </ul>
	            </li>
	        </ul>
	    </div>
	</div>
</div>