<div class="sidebar">
    <ul class="nav nav-sidebar">
        <!-- <li id="tab1"><a href="#!/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li> -->
        <li id="tab4"><a href="#!/topology"><i class="fa fa-random"></i> <span>Topology Editor</span></a></li>
        <li id="tab3"><a href="#!/parser-registry"><i class="fa fa-cubes"></i> <span>Parser Registry</span></a></li>
        <li id="tab2"><a href="#!/device-catalog"><i class="fa fa-desktop"></i> <span>Device Catalog</span></a></li>
    </ul>
</div>