<div class="row row-margin-bottom">
	<div class="col-md-2">
		<select class="form-control ruleRow logicalOp" data-rowtype="logical" data-row="{{this.id}}" style="width:100%;">
			<option value="" disabled selected>Select</option>
			{{#each logicalArr}}
			<option value="{{this.val}}">{{this.val}}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-md-3">
		<select class="form-control ruleRow field-1" data-rowtype="field1" data-row="{{this.id}}" style="width:100%;">
			<option value="" disabled selected>Select Field</option>
			{{#each fieldsArr}}
			<option value="{{this.val}}">{{this.val}}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-md-3">
		<select class="form-control ruleRow comparisonOp" data-rowtype="comp" data-row="{{this.id}}" style="width:100%;">
			<option value="" disabled selected>Select Operator</option>
			{{#each comparisonArr}}
			<option value="{{this.val}}">{{this.val}}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-md-3">
		<select class="form-control ruleRow field-2" data-rowtype="field2" data-row="{{this.id}}" style="width:100%;">
			<option value="" disabled selected>Select Field</option>
			{{#each fieldsArr}}
			<option value="{{this.val}}">{{this.val}}</option>
			{{/each}}
		</select>
		<!-- <ul class=" class="dropdown-menu" form-control ruleRow field-2" data-rowtype="field2" data-row="{{this.id}}">
			<div class="input-group input-append dropdown combobox" data-initialize="combobox" id="myCombobox">
				<input type="text" class="form-control">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li data-value=""><a href="javascript:void(0)"><input type="text"></a></li>
						{{#each fieldsArr}}
						<li data-value="{{this.val}}"><a href="javascript:void(0)">{{this.val}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</ul> -->
	</div>
	<div class="col-md-1">
		<button class="btn btn-sm btn-danger btnDelete">
			<i class="fa fa-remove"></i>
		</button>
	</div>
</div>