<div class="form-horizontal row-margin-bottom">
	<div class="form-group">
	    <label class="col-sm-2 control-label">Rule:</label>
	    <div class="col-sm-6">
	      <input id="rule-name" type="text" class="form-control">
	    </div>
	</div>
</div>

<div class="row row-margin-bottom">
	<div class="col-md-2">
		<label>Create Formula: </label>
	</div>
    <div class="col-md-3">
        <select class="form-control ruleRow field-1" data-rowtype="field1" data-row="1"  style="width:100%;">
			<option value="" disabled selected>Select Field</option>
			{{#each fieldsArr}}
			<option value="{{this.val}}">{{this.val}}</option>
			{{/each}}
		</select>
    </div>
    <div class="col-md-3">
		<select class="form-control ruleRow comparisonOp" data-rowtype="comp" data-row='1'  style="width:100%;">
			<option value="" disabled selected>Select Operator</option>
			{{#each comparisonArr}}
			<option value="{{this.val}}">{{this.val}}</option>
			{{/each}}
		</select>
	</div>
    <div class="col-md-3">
        <select class="form-control ruleRow field-2" data-rowtype="field2" data-row='1'  style="width:100%;">
			<option value="" disabled selected>Select Field</option>
			{{#each fieldsArr}}
			<option value="{{this.val}}">{{this.val}}</option>
			{{/each}}
		</select>
    </div>
    <div class="col-md-1">
        <button class="btn btn-sm btn-success" id="addNewRule"><i class="fa fa-plus"></i></button>
    </div>
</div>
<div data-id='addRowDiv'></div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Preview</label>
                <div id="previewFormula" class="formulaPreviewDiv"></div>
        </div>
    </div>
</div>
{{#if sinkConnected}}
<div class="form-group">
    <label class="col-sm-2 control-label">Connects to :</label>
    <div class="col-sm-6">
    	<select class="sinkConnect" multiple="multiple">
			{{#each sinkList}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
    </div>
</div>
{{/if}}