<div class="row row-margin-bottom">
	<div class="col-md-2">
		<label style="margin-top:5px;">Create Formula: </label>		
	</div>
    <div class="col-md-3">
        <select class="form-control ruleRow field-1" data-rowtype="field1" data-row="1">
			<option value="" disabled selected>Select Field</option>
			<option value="Field1">Field1</option>
			<option value="Field2">Field2</option>
			<option value="Field3">Field3</option>
		</select>
    </div>
    <div class="col-md-3">
		<select class="form-control ruleRow comparisonOp" data-rowtype="comp" data-row='1'>
			<option value="" disabled selected>Select Operator</option>
			{{#each comparisonArr}}
			<option value="{{this.val}}">{{this.val}}</option>
			{{/each}}
		</select>
	</div>
    <div class="col-md-3">
        <select class="form-control ruleRow field-2" data-rowtype="field2" data-row='1'>
			<option value="" disabled selected>Select Field</option>
			<option value="Field1">Field1</option>
			<option value="Field2">Field2</option>
			<option value="Field3">Field3</option>
		</select>
    </div>
    <div class="col-md-1">
        <button class="btn btn-sm btn-success" id="addNewRule"><i class="fa fa-plus"></i></button>
    </div>
</div>
<div data-id='addRowDiv'></div>