<div class="form-horizontal">
    <div class="form-group stream-select">
        <label class="control-label col-md-2">Select Stream</label>
        <div class="col-md-4">
            <select class="form-control input-stream-select">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-head">
                    <h4>Input Schema</h4>
                    {{#if editMode}}
                    <div class="box-controls">
                        <a href="javascript:void(0)" title="Add all fields" data-rel="tooltip" class="select-list"><i id="selectAll" class="fa fa-square-o"></i></a>
                    </div>
                    {{/if}}
                </div>
                <div class="box-body scrollable-body">
                    <ul class="field-list input-field-list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-head">
                    <h4>Output Schema</h4>
                </div>
                <div class="box-body scrollable-body">
                    <ul class="field-list output-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-group" id="optionalFields" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#optionalFields" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-caret-right"></i> Optional Configurations</a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Parallelism</label>
                        <div class="col-sm-9">
                            {{#if editMode}}
                            <input type="number" class="form-control" id="np-parallelism" min="1" step="1" />
                            {{else}}
                            <input type="number" class="form-control" id="np-parallelism" min="1" step="1" disabled />
                            {{/if}}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>