<div class="container-fluid">
    <div class="clearfix">
        <ol class="breadcrumb">
            <li><a href="#!/topology" class="nav-link">Topology Listing</a></li>
            <li class="active">Topology Editor</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-head">
                    <h4>Topology Editor: <span id="topologyName">{{topologyName}}<i class="fa fa-pencil"></i></span></h4>
                    <div class="box-controls topology-control topology-control-btn">
                        <span class="divider"></span>
                        <a href="javascript:void(0);" id="submitTopology" title="Save" data-rel="tooltip" class="save"><i class="fa fa-save"></i></a>
                        <a href="javascript:void(0);" id="configTopology" title="Configure" data-rel="tooltip" class="config"><i class="fa fa-gear"></i></a>
                        <span class="divider"></span>
                        <a href="javascript:void(0);" id="deployTopology" title="Run" data-rel="tooltip" class="play"><i class="fa fa-play"></i></a>
                        <a href="javascript:void(0);" id="killTopology" title="Kill" data-rel="tooltip" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="box-controls topology-control">
                        <a href="javascript:void(0);" id="zoomOut-topo-graph" title="Zoom Out" data-rel="tooltip" class="zoom-out"><i class="fa fa-search-minus"></i></a>
                        <a href="javascript:void(0);" id="zoomIn-topo-graph" title="Zoom In" data-rel="tooltip" class="zoom-in"><i class="fa fa-search-plus"></i></a>
                    </div>
                    <div class="box-controls topology-control topology-control-btn">
                        <span class="node-options-btn displayNone">                                                    
                                <a href="javascript:void(0);" id="editor-node-options" title="Components" data-rel="tooltip" class="show-node-list"><i class="fa fa-th-list"></i></a>
                                <span class="divider"></span>
                        </span>
                    </div>
                    <div class="box-controls topology-control topology-mode-control displayNone">
                        <span class="editor-mode-btn">
                                <a href="javascript:void(0);" id="toggle-editor-mode" title="Switch to Edit Mode" data-rel="tooltip" class="toggle-mode"><i class="fa fa-pencil"></i></a>                            
                        </span>
                        <span class="divider"></span>
                    </div>
                </div>
                <div class="box-body graph-bg position-relative" id="graphEditor">
                    <span class="topology-capsule view">View Mode</span>
                </div>
                <div class="nodes-list-container">
                    <div class="panel-group node-accordian" id="topology-node-list">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="nodes-list">
                                <strong>Components</strong>
                                <a href="javascript:void(0);" id="closeList"><i class="fa fa-times pull-right"></i></a>
                                <a role="button" data-toggle="collapse" data-parent="#topology-editor-nodes" href="#collapseList" aria-expanded="true" aria-controls="collapseList" class="collapseNodeList"><i class="fa fa-compress pull-right"></i> </a>
                            </div>
                            <div id="collapseList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="nodes-list">
                                <div class="panel-body">
                                    <div class="panel-group node-accordion" id="topology-Sources" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="source">
                                                <a role="button" data-toggle="collapse" data-parent="#topology-Sources" href="#collapseSource" aria-expanded="true" aria-controls="collapseSource"><i class="fa fa-caret-down"></i> Sources</a>
                                            </div>
                                            <div id="collapseSource" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="source">
                                                <div class="panel-body">
                                                    <img src="images/iconf-device.png" class="topology-icon-inverse source" data-rel="tooltip" title="DEVICE" data-subType="DEVICE" data-parentType="Datasource" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-group node-accordion" id="topology-Processor" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="processor">
                                                <a role="button" data-toggle="collapse" data-parent="#topology-Processor" href="#collapseProcessor" aria-expanded="false" aria-controls="collapseProcessor"><i class="fa fa-caret-down"></i> Processor</a>
                                            </div>
                                            <div id="collapseProcessor" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="processor">
                                                <div class="panel-body">
                                                    <img src="images/iconf-rule.png" class="topology-icon-inverse processor" data-rel="tooltip" title="RULE" data-subType="RULE" data-parentType="Processor">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-group node-accordion" id="topology-Sink" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="dataSink">
                                                <a role="button" data-toggle="collapse" data-parent="#topology-Sink" href="#collapseData" aria-expanded="false" aria-controls="collapseData"><i class="fa fa-caret-down"></i> Data Sink</a>
                                            </div>
                                            <div id="collapseData" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="dataSink">
                                                <div class="panel-body">
                                                    <img src="images/iconf-hbase.png" class="topology-icon-inverse datasink" data-rel="tooltip" title="HBASE" data-subType="HBASE" data-parentType="DataSink">
                                                    <img src="images/iconf-hdfs.png" class="topology-icon-inverse datasink" data-rel="tooltip" title="HDFS" data-subType="HDFS" data-parentType="DataSink">
                                                    <img src="images/iconf-notification.png" class="topology-icon-inverse datasink" data-rel="tooltip" title="NOTIFICATION" data-subType="NOTIFICATION" data-parentType="DataSink">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>