<div class="page-heading">
    <ol class="breadcrumb">
        <li><a href="#!/">Home</a></li>
        <li><a href="#!/configuration">Configuration</a></li>
        <li class="active">{{clusterModel.name}}</li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel animated"><!--fadeInUp class to animate-->
                <div class="panel-head">
                    <h5>Cluster Details</h5>
                    <div class="panel-control">
                        <button type="default" id="editCluster" title="Edit Cluster"><i class="fa fa-pencil"></i></button>
                        <button type="default" id="addComp" title="Add Component"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{clusterModel.name}}" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{clusterModel.description}}" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{clusterModel.type}}" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tags: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{clusterModel.tags}}" readonly="" data-role="tagsinput">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{#if showComp}}
            {{#each componentList}}
                <div class="col-md-6" id="panelComp">
                    <div class="panel animated"><!--fadeInUp class to animate-->
                        <div class="panel-head">
                            <h5>{{this.attributes.name}}'s Details</h5>
                            <div class="panel-control">
                                <button type="default" data-id="{{this.attributes.id}}" id="editComp" title="Edit Component"><i class="fa fa-pencil"></i></button>
                                <button type="default" data-id="{{this.attributes.id}}" id="deleteComp" title="Delete Component"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name: </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="{{this.attributes.name}}" readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description: </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="{{this.attributes.description}}" readonly="">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Type: </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="{{this.attributes.type}}" readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hosts: </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="{{this.attributes.hosts}}" readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Port: </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="{{this.attributes.port}}" readonly="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>        
</div>