<div class="page-heading">
    <h1 class="page-title">Configuration Settings</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" align="center">
           {{#if showKafkaBtn}}
            <div class="panel animated">
                <div class="panel-head"></div>
                <div class="panel-body">
                    <img src="images/kafka-logo.jpg" id="btnKafka" class="btn-logo" />
                </div>
            </div>
           {{else}}
            <div id="rKafka">
                <div class="panel" id="dataKafka">
                    <div class="panel-head">
                        <h5>Kafka Component</h5>
                        <button class="btn btn-success btn-sm pull-right" id="editKafka"><i class="fa fa-edit"></i></button>
                    </div>
                    {{#each kafkaCombObj}}
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">HOST: <span class="required">*</span></label>
                                        <div class="col-sm-9"><input type="text" class="form-control" value="{{this.hosts}}" readonly="readonly"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">PORT: <span class="required">*</span></label>
                                        <div class="col-sm-9"><input type="text" class="form-control" value="{{this.port}}" readonly="readonly"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
        <div class="col-md-6" align="center">
           {{#if showStormBtn}}
            <div class="panel animated">
                <div class="panel-head"></div>
                <div class="panel-body">
                    <img src="images/storm-logo.jpg" id="btnStorm" class="btn-logo" />
                </div>
            </div>
            {{else}}
            <div id="rStorm">
                <div class="panel" id="dataStorm">
                    <div class="panel-head">
                        <h5>Storm Component</h5>
                        <button class="btn btn-success btn-sm pull-right" id="editStorm"><i class="fa fa-edit"></i></button>
                    </div>
                    {{#each stormCompObj}}
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">HOST: <span class="required">*</span></label>
                                        <div class="col-sm-9"><input type="text" class="form-control" value="{{this.hosts}}" readonly="readonly"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">PORT: <span class="required">*</span></label>
                                        <div class="col-sm-9"><input type="text" class="form-control" value="{{this.port}}" readonly="readonly"></div>
                                    </div>
                                </form>
                            </div>
                         </div>
                    </div>
                    {{/each}}
                </div>
           </div>
           {{/if}}
        </div>
    </div>
</div>