<div class="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Configuration</li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel animated">
                <div class="panel-head">
                    <h5>Configuration Details</h5>
                    <div class="panel-control">
                        <button class="minimize"><i class="fa fa-minus"></i></button>
                        <button class="expand-link"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row row-margin-bottom">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm pull-left" id="addCluster">Add New Cluster</button>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group pull-right" data-id="r_filter"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="rTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>