<div class="page-heading">
    <ol class="breadcrumb">
        <li><a href="#!/">Home</a></li>
        <li><a href="#!/device-catalog">Device Catalog</a></li>
        <li class="active">{{dsModel.dataSourceName}}</li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel animated"><!--fadeInUp class to animate-->
                <div class="panel-head">
                    <h5>Data Source Details</h5>
                    <div class="panel-control">
                        <button type="default" id="editDS" title="Edit Data Source"><i class="fa fa-pencil"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dsModel.dataSourceName}}" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dsModel.description}}" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tags: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dsModel.tags}}" readonly="" data-role="tagsinput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Device Id: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dsModel.deviceId}}" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Version: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dsModel.version}}" readonly="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{#if showDF}}
        <div class="col-md-6" id="panelDF">
            <div class="panel animated"><!--fadeInUp class to animate-->
                <div class="panel-head">
                    <h5>Data Feed Details</h5>
                    <div class="panel-control">
                        <button type="default" id="editDF" title="Edit Data Feed"><i class="fa fa-pencil"></i></button>
                        <button type="default" id="deleteDF" title="Delete Data Feed"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dfModel.dataFeedName}}" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dfModel.description}}" readonly="">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Tags: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dfModel.tags}}" readonly="" data-role="tagsinput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">End Point: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dfModel.endpoint}}" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Parser Id: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{dfModel.parserId}}" readonly="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{/if}}
    </div>        
</div>