<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box animated"><!--fadeInUp class to animate-->
                <div class="box-head">
                    <h4>Device Profiles</h4>
                </div>
                <div class="box-body">
                    <div class="row row-margin-bottom">
                        <div class="col-md-4">
                            <button class="btn btn-success btn-sm pull-left" id="addDevice">Add New Device</button>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group pull-right" data-id="r_filter"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="rTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>