<div class="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Parser Registry</li>
    </ol>
    <!-- <h1 class="page-title">Parser Listing View</h1> -->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel animated"><!--fadeInUp class to animate-->
                <div class="panel-head">
                    <h5>Registry Data</h5>
                    <div class="panel-control">
                        <!-- <button><i class="fa fa-gear"></i></button> -->
                        <button class="minimize"><i class="fa fa-minus"></i></button>
                        <button class="expand-link"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row row-margin-bottom">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm pull-left" id="addParser">Add New Parser</button>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group pull-right" data-id="r_filter"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="rTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>