<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box-body">
                <div class="clearfix row-margin-bottom">
                    <a id="addTag" href="javascript:void(0);" class="btn btn-success btn-sm pull-left">Add Tag</a>
                    <div class="search-box pull-right">
                        <div class="backgrid-filter form-search">
                            <span class="search">&nbsp;</span>
                            <input type="search" class="search-text" placeholder="Search by name" name="q">
                            <a class="clear" data-backgrid-action="clear" href="#" style="display: none;">×</a>
                        </div>
                        <!-- <input type="text" class="search-text form-control" placeholder="Search by name"> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="dd"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
