<div class="modal-dialog {{mainClass}}" role="document">
	<div class="modal-content">
		{{#if title}} 
		     <div class="modal-header">
		       {{#if allowCancel}}
		         <a class="close">&times;</a>
		       {{/if}}
		   		<h4 class="modal-title">
		   			{{#if titleHtml}}
					    {{{tt title}}}
					  {{else}}
					    {{tt title}}
					  {{/if}}
		   		</h4>
		     </div>
		{{/if}}
		<div class="modal-body">{{content}}</div>
		{{#if showFooter}}
			 <div class="modal-footer" >
			   <a href="#" class="btn ok btn-primary">{{tt okText}}</a>
			   {{#if allowCancel}}
			     {{#if cancelText}}
			       <a href="#" class="btn cancel">{{tt cancelText}}</a>
			     {{/if}}
			   {{/if}}
			 </div>
		{{/if}}
	</div>
</div>