<div id="dataSinkModel">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group " id="processor">
                    <label class="control-label">Processors :</label>
                    <div>
                        <select class="form-control">
                            <option value="" selected disabled>Select an option...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="form-group" id="rule">
                    <label class="control-label">Rules :</label>
                    <div>
                        <select class="form-control">
                            <option value="" selected disabled>Select an option...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" id="action">
                    <label class="control-label">Action :</label>
                    <div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="form-group" id="formula">
                <label class="col-md-4 pull-left">Formula :</label>
                <div class="col-md-12">
                    <textarea class="form-control" rows="4"></textarea>
                </div>
            </div>
        </div>
        <hr>
        <div class="row row-margin-bottom">
            <div class="form-group" id="alertOptions">
                <label class="col-md-4 control-label" style="margin-top: 5px;">Notification Options :</label>
                <div class="col-md-6">
                    <select class="form-control">
                        <option value="" selected disabled>Select an option...</option>
                        <option value="E-mail">E-mail</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="storageOptions">
                <label class="col-md-4 control-label" style="margin-top: 5px;">Storage Options :</label>
                <div class="col-md-6">
                    <select class="form-control">
                        <option value="" selected disabled>Select an option...</option>
                        <option value="HBase">HBase</option>
                        <option value="Hive">Hive</option>
                        <option value="HDFS">HDFS</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box" id="properties">
                    <div class="box-head">
                        <label>Properties</label>
                        <div class="box-controls">
                            <a id="saveProperties"><i class="fa fa-save"></i></a>
                            <a id="reloadProperties"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-center">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>