

<div id="deviceModal" class="form-horizontal">
	<div class="row">
			     <h4 align="center">Devices</h4>
		</div>
	<div class="form-group" id="deviceModalTitle">
		<label class="col-md-4 control-label" for="availableDevices">Data feed name :</label>
		<div class="col-md-7">
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group" id="availableDevices">
		<label class="col-md-4 control-label" for="availableDevices">Search Devices :</label>
		<div class="col-md-7">
			<select class="form-control" multiple="multiple">
			</select>
		</div>
	</div>
	<div class="form-group" id="selectedDevices">
		<hr>
		<div class="row">
			<label class="col-md-4 pull-left" for="selectedDevices" style="margin-left: 20px;">Parser</label>
		</div>
		<div class="row" style="padding:  10px 20px 0px;">
			<div class="col-md-12" style="padding-right: 30px;">
			  	<div class="form-group" id="deviceModalTitle">
					<label class="col-md-4 control-label" for="availableDevices">Name</label>
					<div class="col-md-7">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group" id="deviceModalTitle">
					<label class="col-md-4 control-label" for="availableDevices">ID</label>
					<div class="col-md-7">
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>