<div class="modal-body">
    <div class="form-horizontal">
        <h4 align="center">Selected Devices</h4>
        <div class="form-group" id="deviceModalTitle">
            <label class="col-sm-3 control-label">Data Feed Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group" id="availableDevices">
            <label class="col-sm-3 control-label">Search Device</label>
            <div class="col-sm-9">
                <select class="bs-multiselect" multiple="multiple">
                </select>
            </div>
        </div>
    </div>
    <hr/>
    <h4 align="center">Parser</h4>
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">ID</label>
        <div class="col-sm-9">
            <input type="text" class="form-control">
        </div>
    </div>
</div>