<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-head">
                        <h4>Datastream Editor</h4>
                        <div class="box-controls">
                            <a href="javascript:void(0);" title="Submit" id="submitWorkFlow"><i class="fa fa-upload"></i></a>
                            <!-- <a href="javascript:void(0);" title="Deploy" id="deployWorkFlow"><i class="fa fa-play"></i></a> -->
                        </div>
                    </div>
                    <div class="box-body graph-bg">  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button id="step1" class="btn btn-primary" data-rel="tooltip" title="Data Feed" data-toggle="modal" data-target="#dataFeed"><i class="fa fa-server"></i>
                                        <div class="click-tutor animated infinite finger-up"><i class="fa fa-hand-o-up"></i></div>
                                    </button> 
                                    <button id="step2" class="btn btn-primary" disabled="disabled" data-rel="tooltip" title="Processor"><i class="fa fa-cog"></i></button> 
                                    <button id="step3" class="btn btn-primary" disabled="disabled" data-rel="tooltip" title="Data Sink"><i class="fa fa-database"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>