<div class="row" id="ruleSetModal">
   <!--  <div class="col-md-3 list">
        <div class="row">
            <div class="processorList">
                <table class="table table-bordered table-striped table-center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
<!--     <div class="" style="margin-top:50px;width:0px" id="resize">
        <i class="fa fa-chevron-left"></i>
        <i class="fa fa-chevron-right"></i>
    </div> -->
    <div class="col-md-12 editor">
        <div class="rule-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules</a></li>
                <li role="presentation"><a href="#equation" aria-controls="equation" role="tab" data-toggle="tab">Advanced</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="rules">
                    <div class="clearfix row-margin-bottom">
                        <div class="pull-left form-inline">
                            <input type="text" class="form-control" id="ruleName" style="margin-right: 10px;">
                            <select class="form-control" id="action">
                                    <option value="" selected disabled>Select Action...</option>
                                    <option>Store</option>
                                    <option>Notify</option>
                            </select>
                        </div>
                        <div class="pull-right" id="buttons">
                            <button class="btn btn-sm btn-success" id="saveRule"><i class="fa fa-save"></i></button>
                            <button class="btn btn-sm btn-success" id="clearRule"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div id = "expDef">
                        <div class="row row-margin-bottom" style="margin-right: -7px;margin-bottom: 0px;
">
                            <ul class="expression col-md-11" id="expression1">
                                <li class="paraAlert" id="field1">
                                    <select class="form-control">
                                        <option value="" selected disabled>Select a field...</option>
                                    </select>
                                </li>
                                <li class="para" id="operation">
                                    <select class="form-control pull-left">
                                        <option value="" selected disabled>Select a function...</option>
                                        <option value="greater than">greater than</option>
                                        <option value="less than">less than</option>
                                        <option value="equal to">equal to</option>
                                        <option value="not equal to">not equal to</option>
                                        <option value="contains">contains</option>
                                    </select>
                                </li>
                                <li class="paraAlert" id="constant">
                                    <input type="text" class="form-control" placeHolder="Enter constant" style="width:100px;"></input>
                                </li>
                                <li class="para" id="field2">
                                    <select class="form-control">
                                        <option value="" selected disabled>Select a field...</option>
                                        <option value="Use a constant">Use a constant</option>
                                    </select>
                                </li>
                            </ul>
                            <div class="pull-right col-md-1">
                                <button class="btn btn-sm btn-success" id="AddNewExpn"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Formula</label>
                                    <textarea class="form-control" id="formula" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Result</label>
                                    <input type="text" id="result" class="form-control" />
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="equation">
                    <textarea id="code"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>