<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-head">
                    <h4>Configurations</h4>
                </div>
                <div class="row config-row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h4>KAFKA</h4>
                                <div class="box-controls">                            
                                    <a href="javascript:void(0)" class="addNewConfig" title="Add" data-rel="tooltip" data-id="KAFKA">
                                        <i class="fa fa-user-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <ul id="Kafka-list" class="box-list">
                                {{#if showKafka}}
                                    {{#each kafkaArr}}
                                        <li>
                                            {{this.attributes.type}}
                                            <a href="javascript:void(0)" class="deleteConfig pull-right" title="Delete" data-rel="tooltip" data-type="KAFKA" data-id="{{this.attributes.id}}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="editConfig pull-right" title="Edit" data-rel="tooltip" data-type="KAFKA" data-id="{{this.attributes.id}}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                    {{/each}}
                                {{else}}
                                    <li><label>No Component Found</label></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h4>STORM</h4>
                                <div class="box-controls">
                                    <a href="javascript:void(0)" class="addNewConfig" title="Add" data-rel="tooltip" data-id="STORM">
                                        <i class="fa fa-user-plus"></i></a>
                                </div>
                            </div>
                            <ul id="Storm-list" class="box-list">  
                                {{#if showStorm}}
                                    {{#each stormArr}}
                                        <li>
                                            {{this.attributes.type}}
                                            <a href="javascript:void(0)" class="deleteConfig pull-right" title="Delete" data-rel="tooltip" data-type="STORM" data-id="{{this.attributes.id}}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="editConfig pull-right" title="Edit" data-rel="tooltip" data-type="STORM" data-id="{{this.attributes.id}}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                    {{/each}}
                                {{else}}
                                    <li><label>No Component Found</label></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h4>HDFS</h4>
                                <div class="box-controls">
                                    <a href="javascript:void(0)" class="addNewConfig" title="Add" data-rel="tooltip" data-id="HDFS">
                                        <i class="fa fa-user-plus"></i></a>
                                </div>
                            </div>
                            <ul id="HDFS-list" class="box-list">
                                {{#if showHdfs}}
                                    {{#each hdfsArr}}
                                        <li>
                                            {{this.attributes.type}}
                                            <a href="javascript:void(0)" class="deleteConfig pull-right" title="Delete" data-rel="tooltip" data-type="HDFS" data-id="{{this.attributes.id}}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="editConfig pull-right" title="Edit" data-rel="tooltip" data-type="HDFS" data-id="{{this.attributes.id}}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                    {{/each}}
                                {{else}}
                                    <li><label>No Component Found</label></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>