 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="box-body">
                    <div class="clearfix row-margin-bottom">
                        <a id="addFile" href="javascript:void(0);" class="btn btn-success pull-left">Add File</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <div id="rTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>