<script id="devices-table-template" type="text/html">
  <table class="table table-striped table-bordered table-hover" id="deviceDataTables">
    <thead>
      <tr>
        <th>Device Id</th>
        <th>Device Version</th>
        <th>Data Source</th>
      </tr>
    </thead>
    <tbody>
      {{ #. }}
      <tr class="odd gradeX">
        <td>{{deviceId}}</td>
        <td class="center">{{version}}</td>
        <td class="center">{{dataSourceId}}</td>
      </tr>
      {{ /. }}
    </tbody>
  </table>
</script>
