<script id="parsers-table-template" type="text/html">
  <table class="table table-striped table-bordered table-hover" id="parserDataTables">
    <thead>
      <tr>
        <th>Parser Id</th>
        <th>Parser Name</th>
        <th>Version</th>
        <th>Parser Class Name</th>
        <th>Jar Storage Path</th>
      </tr>
    </thead>
    <tbody>
      {{ #. }}
      <tr class="even gradeA">
        <td>{{parserId}}</td>
        <td>{{parserName}}</td>
        <td class="center">{{version}}</td>
        <td>{{className}}</td>
        <td>{{jarStoragePath}}</td>
      </tr>
      {{ /. }}
    </tbody>
  </table>
</script>
