 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-head">
                    <h4>Custom Processors</h4>
                </div>
                <div class="box-body">
                    <div class="clearfix row-margin-bottom">
                        <a href="#!/custom-processor/add" class="btn btn-success pull-left">Add Processor</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <div id="rTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>